# Budget Analysis

---

## Environment Setup

In [1]:
# Initial Imports
import os
import plaid
import requests
import datetime
import json
import pandas as pd
from dotenv import load_dotenv

%matplotlib inline

In [2]:
# Helper functions

def pretty_print_response(response):
    """
    This function formats a JSON file to pretty printing it in the screen.
    """
    print(json.dumps(response, indent=4, sort_keys=True))

In [3]:
# Set environment variables from the .env file
load_dotenv()

True

In [15]:
# Extract API keys from environment variables
PLAID_CLIENT_ID = os.getenv("PLAID_CLIENT_ID")
PLAID_SECRET = os.getenv("PLAID_SECRET")
PLAID_PUBLIC_KEY = os.getenv("PLAID_PUBLIC_KEY")
print(os.getenv('PLAID_CLIENT_ID'))
print(os.getenv('PLAID_SECRET'))
#print(os.getenv('PLAID_PUBLIC_KEY'))

5f5e89e45f6405001006a0ce
7f24001525013bee4396a16705120e

---

## Plaid Access Token

In this section, you will use the `plaid-python` API to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:

1. Create a client to connect to plaid

2. Use the client to generate a public token and request the following items: ['transactions', 'income', 'assets']

3. Exchange the public token for an access token

4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [7]:
# Create the client object
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SECRET, environment='sandbox')
print(client)

<plaid.client.Client object at 0x0000022DC5AF4190>

In [9]:
# Set the institution id
INSITUTION_ID = "ins_109508"

### 2. Generate a public token

In [11]:
# Create the public token
create_response = client.Sandbox.public_token.create(INSITUTION_ID,['transactions', 'income', 'assets'])
# Print the public token
print(create_response)

{'public_token': 'public-sandbox-8f3b7430-f0da-41a2-a9fc-be118898793b', 'request_id': 'E2I2bzjFkpg1VuI'}

### 3. Exchange the public token for an access token

In [12]:
# Retrieve the access token
exchange_response = client.Item.public_token.exchange(create_response['public_token'])
# Print the access token
print(exchange_response)

{'access_token': 'access-sandbox-cb705cd3-ae73-4b7d-8b59-328138c3f10b', 'item_id': 'M574N4akkmH94WvWAlJzhaAXaBG1wDFL6yrqQ', 'request_id': '5g1GqZUbZfKov7v'}

In [13]:
# Store the access token in a Python variable
access_token = exchange_response['access_token']
print(access_token)

access-sandbox-cb705cd3-ae73-4b7d-8b59-328138c3f10b

### 4. Fetch Accounts

In [17]:
# Retrieve accounts
account_response = client.Accounts.get(access_token)
# Print accounts
print(account_response)

{'accounts': [{'account_id': 'Q5JMGMjnnkHeEq4qLMQrsjlpKJvZbncpW5wvw', 'balances': {'available': 100, 'current': 110, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '0000', 'name': 'Plaid Checking', 'official_name': 'Plaid Gold Standard 0% Interest Checking', 'subtype': 'checking', 'type': 'depository'}, {'account_id': 'Z5qMyMo33JHka4D4d7ypUg5eNWr8XAigD6e4J', 'balances': {'available': 200, 'current': 210, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '1111', 'name': 'Plaid Saving', 'official_name': 'Plaid Silver Standard 0.1% Interest Saving', 'subtype': 'savings', 'type': 'depository'}, {'account_id': 'M574N4akkmH94WvWAlJzhaAX6mKgDRt98JLqe', 'balances': {'available': None, 'current': 1000, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '2222', 'name': 'Plaid CD', 'official_name': 'Plaid Bronze Standard 0.2% Interest CD', 'subtype': 'cd', 'type': 'depository'}, {'account_id': '11lVMVonnaf7MeyeRZg6Hr3VDade1Gi5G8pBm', 'balances': {'available': None, 'current': 410, 'iso_currency_code': 'USD', 'limit': 2000, 'unofficial_currency_code': None}, 'mask': '3333', 'name': 'Plaid Credit Card', 'official_name': 'Plaid Diamond 12.5% APR Interest Credit Card', 'subtype': 'credit card', 'type': 'credit'}, {'account_id': 'L5VaNad889HbNnWnkQgXtdr6DEyp9MuPyXkwo', 'balances': {'available': 43200, 'current': 43200, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '4444', 'name': 'Plaid Money Market', 'official_name': 'Plaid Platinum Standard 1.85% Interest Money Market', 'subtype': 'money market', 'type': 'depository'}, {'account_id': 'p35DRDrGGecEMVyVKpJgH5pJQXEd9zfLNZpab', 'balances': {'available': None, 'current': 320.76, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '5555', 'name': 'Plaid IRA', 'official_name': None, 'subtype': 'ira', 'type': 'investment'}, {'account_id': 'bJxXzXb77qsGkEyEKvoZTzn5rGXrJnuV1Xm8B', 'balances': {'available': None, 'current': 23631.9805, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '6666', 'name': 'Plaid 401k', 'official_name': None, 'subtype': '401k', 'type': 'investment'}, {'account_id': 'mk5DXDlEEPhExoyoR9LZHW9ovykvx9FLnDg6k', 'balances': {'available': None, 'current': 65262, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '7777', 'name': 'Plaid Student Loan', 'official_name': None, 'subtype': 'student', 'type': 'loan'}, {'account_id': 'yeVKWKPBBph9REQENk67hKl7DXGDqlCybz4xp', 'balances': {'available': None, 'current': 56302.06, 'iso_currency_code': 'USD', 'limit': None, 'unofficial_currency_code': None}, 'mask': '8888', 'name': 'Plaid Mortgage', 'official_name': None, 'subtype': 'mortgage', 'type': 'loan'}], 'item': {'available_products': ['auth', 'balance', 'credit_details', 'identity', 'investments', 'liabilities'], 'billed_products': ['assets', 'income', 'transactions'], 'consent_expiration_time': None, 'error': None, 'institution_id': 'ins_109508', 'item_id': 'M574N4akkmH94WvWAlJzhaAXaBG1wDFL6yrqQ', 'webhook': ''}, 'request_id': 'fkwriAdJFn4ikbG'}

---

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days

2. Print the categories for each transaction type

3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)

4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [39]:
# Set the start and end date 90 days from today
start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())
# Retrieve the transactions for the last 90 days
transaction_response = client.Transactions.get(access_token, start_date, end_date)
# Print the transactions
transactions = transaction_response['transactions']
print(transactions[0])

{'account_id': 'Z5qMyMo33JHka4D4d7ypUg5eNWr8XAigD6e4J', 'account_owner': None, 'amount': 25, 'authorized_date': None, 'category': ['Payment', 'Credit Card'], 'category_id': '16001000', 'date': '2020-09-12', 'iso_currency_code': 'USD', 'location': {'address': None, 'city': None, 'country': None, 'lat': None, 'lon': None, 'postal_code': None, 'region': None, 'store_number': None}, 'merchant_name': None, 'name': 'CREDIT CARD 3333 PAYMENT *//', 'payment_channel': 'other', 'payment_meta': {'by_order_of': None, 'payee': None, 'payer': None, 'payment_method': None, 'payment_processor': None, 'ppd_id': None, 'reason': None, 'reference_number': None}, 'pending': False, 'pending_transaction_id': None, 'transaction_code': None, 'transaction_id': '11lVMVonnaf7MeyeRZg6Hr3WZJyXxxu5PwPeL', 'transaction_type': 'special', 'unofficial_currency_code': None}

### 2. Print the categories for each transaction

In [45]:
# Create a for-loop to print the categories for each transaction
categories = []

for i in transactions:
    category = i['category']
    print(category[0])

Payment
Travel
Transfer
Transfer
Recreation
Travel
Food and Drink
Food and Drink
Food and Drink
Transfer
Travel
Travel
Food and Drink
Payment
Food and Drink
Shops
Payment
Travel
Transfer
Transfer
Recreation
Travel
Food and Drink
Food and Drink
Food and Drink
Transfer
Travel
Travel
Food and Drink
Payment
Food and Drink
Shops
Payment
Travel
Transfer
Transfer
Recreation
Travel
Food and Drink
Food and Drink
Food and Drink
Transfer
Travel
Travel
Food and Drink
Payment
Food and Drink
Shops

### 3. Create a new DataFrame using the following fields from the JSON transaction data: `date`, `name`, `amount`, `category`. 

(For categories with more than one label, just use the first category label in the list)

In [43]:
# Define an empty DataFrame and set the columns as date, name, amount, and category
df = pd.DataFrame(columns=['Date', 'Name', 'Amount', 'Category'])
# Retrieve all the transactions
Date = []
Name = []
Amount = []
Category = []
for i in transactions:
    Date.append(i['date'])
    Name.append(i['name'])
    Amount.append(i['amount'])
    Category.append(i['category'][0])
# Populate the transactions DataFrame with the transactions data
df['Date'] = Date
df['Name'] = Name
df['Amount'] = Amount
df['Category'] = Category
# Display sample data from the DataFrame    
df.head()

         Date                                   Name  Amount    Category
0  2020-09-12           CREDIT CARD 3333 PAYMENT *//    25.0     Payment
1  2020-09-12                 Uber 063015 SF**POOL**     5.4      Travel
2  2020-09-11  ACH Electronic CreditGUSTO PAY 123456  5850.0    Transfer
3  2020-09-11                   CD DEPOSIT .INITIAL.  1000.0    Transfer
4  2020-09-10                    Touchstone Climbing    78.5  Recreation

### 4. Convert the data types to the appropriate types 

(i.e. datetimeindex for the date and float for the amount)

In [ ]:
# Display data types

In [ ]:
# Make any required data type transformation

In [ ]:
# Set the date column as index

# Display sample data

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:

1. Determine the previous year's gross income and print the results

2. Determine the current monthly income and print the results

3. Determine the projected yearly income and print the results

In [ ]:
# Fetch de income data

# Print the income data

In [ ]:
# Determine the previous year's gross income and print the results

In [ ]:
# Determine the current monthly income and print the results

In [ ]:
# Determine the projected yearly income and print the results

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)

2. Generate a bar chart with the number of transactions for each category

3. Calulate the expenses per month

4. Plot the total expenses per month

### Calculate the expenses per category

In [ ]:
# Compute the total expenses per category

# Display the expenses per catefory

In [ ]:
# Create a spending categories pie chart.

### Calculate the expenses per month

In [ ]:
# Create a DataFrame with the total expenses

# Display sample data

In [ ]:
# Create a spending per month bar chart